
/*Home Page*/

.Home{
    height: 100vh;
    
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;
    background-image: url('./images//bg-3.jpg');
}

.navbar{
    background-color: rgb(134, 84, 57, .7);
    height: 15%;
}

.nav-item:hover{
    background-color: rgb(64, 34, 24);
       
}

.nav-link{
    font-size: 1.5rem;
}


/* Products*/

.Products{
    margin: 0 15rem;
}

