@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*Home Page*/


.Home {
    
}



.slide-container {
    width: 100%;
    margin: auto;
}

h3 {
    text-align: center;
}

.each-slide>div {
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.each-slide span {
    color: #FEF7DC;
    width: 50rem;
    
  }




.logo {
    width: 100px;

}

.navbar {
    padding: 0 20px;
    background-color: rgb(64, 34, 24);
    height: 15%;
}

.nav-item:hover {
    background-color: rgb(134, 84, 57);

}

.nav-link {
    font-size: 1.5rem;
}

.shopping-icon {
    background-color: none;
    color: rgb(134, 84, 57, .5);
    font-size: 2rem;
    cursor: pointer;
}

/* Products*/

.Products {

    background-color: #FEF7DC;
}

.Products .card-body {
    border: solid 1px rgb(134, 84, 57, .7);
    border-top: 0;
}


/* About */

.About {
    background-color: #FEF7DC;
    height: 85vh;
}

.About .card {
    color: rgb(134, 84, 57);
    background-color: #FEF7DC;
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(134, 84, 57, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(134, 84, 57, 0);


}

.About .card-text {
    letter-spacing: .1rem;
    line-height: 2rem;
    overflow: hidden;
    text-align: justify;

}

.About .card-body {
    padding: 0 2rem;
}

.icon-bar {
    background-color: rgb(134, 84, 57);
    color: #F7E9D7;


    cursor: pointer;
}

.icon-bar:hover {
    color: rgb(64, 34, 24);
    background-color: #FEF7DC;
    border: solid 2px rgb(134, 84, 57);

}

.About .arrow-icon {
    margin-left: 15px;
    font-size: 1.2rem;
}


/* Contact */

.Contact {
    /*  background-color: rgb(64, 34, 24);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    height: 85vh;

}

.Contact .input-group-text {
    background-color: #FEF7DC;
    border: solid 1px #FEF7DC;
}

.Contact .form-control {
    border: solid 1px #FEF7DC;
}

.Contact span {
    color: #FEF7DC;
}

.Contact .btn {
    color: #FEF7DC;
    border: solid 1px #FEF7DC;
}

.Contact .btn:hover {
    color: brown;
    background-color: #FEF7DC;
}

